

nav {
    width: 100%;
    padding-top: 1%;
    background-color: #ff3b3b;
}

.brand {
    margin-left: 5%;
    line-height: 80px;
   
}

.brand a {
    color: white;
    font-size: 30px;
}

nav ul {
    float: right;
    margin-right: 10px;
    
}

nav ul LI {
    display: inline-block;
    line-height: 80PX;
    margin-left: 20px;
    background-color: transparent;
    color: black;
    
    
    /* Green */
    /*Borde*/
    -moz-border-radius-topleft: 19px;
    -moz-border-radius-topright: 19px;
    -moz-border-radius-bottomleft: 19px;
    -moz-border-radius-bottomright: 19px;
    -webkit-border-top-left-radius: 19px;
    -webkit-border-top-right-radius: 19px;
    -webkit-border-bottom-left-radius: 19px;
    -webkit-border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

nav ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 80px;
    padding: 15px;
    text-decoration: none;
}
.brand img {
    margin-top: 5px;
    height: 100px;
    transition: transform 0.5s;
}
.brand img:hover {
    transform: skewX(10deg);
}


.menu li:hover {
    transform: scale(1.15);
}

.menu li a:hover {
    color: #a81212;
}


footer{
    text-align: center;
}
footer ul li{
    list-style: none;
    width: 30%;
}
.redes li{
    display: inline;
}

footer img{
    width: 4%;
}

.menuAuxiliar li a{
    display: inline;
}