
body{
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
    font-size: 3em;
}
span{
    font-size: 1.5em;
    color: #ff3b3b;
}
/*Header*/
nav {
    height: 100px;
    width: 100%;
    padding-top: 1%;
    background-color: #ff3b3b;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

main{
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
}

.brand {
    margin-left: 5%;
    line-height: 80px;
}

.brand a {
    color: white;
    font-size: 30px;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul LI {
    display: inline-block;
    line-height: 60PX;
    margin-left: 20px;
    background-color: transparent;
    color: black;
    -moz-border-radius-topleft: 19px;
    -moz-border-radius-topright: 19px;
    -moz-border-radius-bottomleft: 19px;
    -moz-border-radius-bottomright: 19px;
    -webkit-border-top-left-radius: 19px;
    -webkit-border-top-right-radius: 19px;
    -webkit-border-bottom-left-radius: 19px;
    -webkit-border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

nav ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 80px;
    padding: 15px;
    text-decoration: none;
}

.brand img {
    height: 80px;
    transition: transform 0.5s;
}

.brand img:hover {
    transform: skewX(10deg);
}

.menu li:hover {
    transform: scale(1.15);
}

.menu li a:hover {
    color: #a81212;
}

/*Footer*/
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

footer ul li a{
    text-decoration: none;
    margin-left: 2%;
}

footer img{
    width: 4%;
}

/*Slider*/
.slideshow-container { 
    position: relative;
    margin: auto;
    width: 40%;
    margin-top: 3%;
}

.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,.dot:hover {
    background-color: #717171;
}

#datos{
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
