
/*General*/
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 3em;
    padding-top: 5%;
    margin: 0;
}
h2{
    margin-bottom: 0;
    margin-top: 5%;
}
span{
    font-size: 1.5em;
    color: #ff3b3b;
}

main{
    margin: 0 auto;
    margin-top: 7%;
    width: 70%;
    background-color: white;
    text-align: center;
    
}
body{
    background-color: #717171;
}
.ruta{
    color: white;
    float: left;
    position: fixed;
}
/*Header*/
nav {
    height: 100px;
    width: 100%;
    padding-top: 1%;
    background-color: #ff3b3b;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.brand {
    margin-left: 5%;
    line-height: 80px;
}

.brand a {
    color: white;
    font-size: 30px;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul LI {
    display: inline-block;
    line-height: 60PX;
    margin-left: 20px;
    background-color: transparent;
    color: black;
    -moz-border-radius-topleft: 19px;
    -moz-border-radius-topright: 19px;
    -moz-border-radius-bottomleft: 19px;
    -moz-border-radius-bottomright: 19px;
    -webkit-border-top-left-radius: 19px;
    -webkit-border-top-right-radius: 19px;
    -webkit-border-bottom-left-radius: 19px;
    -webkit-border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

nav ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 80px;
    padding: 15px;
    text-decoration: none;
}

.brand img {
    height: 80px;
    transition: transform 0.5s;
}

.brand img:hover {
    transform: skewX(10deg);
}

#menu li:hover {
    transform: scale(1.15);
}

#menu li a:hover {
    color: #a81212;
}
ul#menu{
    margin-top: 1%;
}
.estas{
    color: #993939;
}

/*Footer*/
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 70%;
    margin: 0 auto;
}
ul.redes {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
}
footer ul li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

footer ul li a{
    text-decoration: none;
    margin-left: 2%;
}

footer img{
    width: 4%;
    margin-bottom: 2%;
}
.redes img {
    transition: transform 0.5s;
}
.redes img:hover {
    transform: scale(1.5);
}
footer article{
    padding-bottom: 2%;
}


/*Slider*/
.slideshow-container { 
    position: relative;
    margin: auto;
    width: 40%;
    margin-top: 3%;
}

.mySlides {
    display: none;
}
.ftsl{
    border-radius: 10px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,.dot:hover {
    background-color: #717171;
}
#puntos{
    padding-bottom: 3%;
}
#datos{
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*Idomas*/
.idiom{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    margin-top: 0.2em;
    margin-left: -2em;
    display: flex;
}
.idio {
    padding: 0 2px;
    list-style-type: none;
    color: #fff;
}

.idio a{
    color: #fff;
    font-size: 15px;
}
.idio a:hover{
    color: #3696DD;
}
a{
    text-decoration: none;
}
/*Formulario*/
input, textarea{
    background-color: #e4e2e2;
    border: 0;
    border-radius: 5px;
    
}
form{
text-align: left;
}
input{
    height: 30px;
    
}
form{
    width: 30%;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 10%;
    background-color: rgb(210, 204, 204);
}
label{
    text-align: left;
}
#contactH, #mapa{
    text-align: center;
}
form p{
    margin-left: 5%;
}
#botones{
    text-align: center;
}
#botones input{
    margin-left: 3%;
}
.asterisco{
    font-size: 1em;
}
textarea {
    resize: none;
}
.btn{
    background-color: #ff3b3b;
    color: #fff;
}
/*Mapa y Datos*/
#datos{
    border: 2px solid red;
    width: 20%;
    margin: 0 auto;   
    border-radius: 10px;
    background-color: rgb(210, 204, 204);
}
#mapa{
    padding-bottom: 5%;
}
#fotoQS{
    width: 58%;
    border-radius: 8px;
}
#fotoQS2{
    width: 70%;
    border-radius: 8px;
    margin: 4% 0;
}
/*Inicio*/
#bienvenida{
    width: 50%;
    margin: 0 auto;
}
/*Quienes somos*/
#presentacion{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
}
/*Menu de hamburgesa*/
.topnav {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
    float: right;
    width: 50%;
    margin-top: .5em;
    margin-right: 2%;
    }

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #3696DD;
    color: white;
} 
.b{
    display: none;
}
/*Responsive*/
@media(max-width:602px){
    ul#menu{
        display: none;
    }
    .topnav {
        display: inline;
        margin-top: 4%;
    }
    .brand{
        display: none;
    }
    ul.idiom{
        display: none;
    }
    .b{
        display: inline;
        margin-left: 5%;
    }
    .b img{
        width: 10%;
        margin-top: 3%;
    }
    h1{
        margin-top: 20%;
    }
    .ruta{
        display: none;
    }
    .slideshow-container{
        width: 80%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .redes img{
        width: 8%;
    }
    #bienvenida{
        width: 79%;
        font-size: 1.2em;
    }
    footer article{
        font-size: 0.8em;
    }
    #presentacion{
        text-align: justify;
    }
    #fotoQS2{
        width: 80%;
    }
    .centrar{
        text-align: center;
    }
    form{
        width: 60%;
    }
    input#correo, input#nombre{
        width: 72%;
    }
    .in, .textarea{
        margin-left: 15%;
    }
    p#botones{
        margin-right: 8%;
    }
    a.active{
        background-color: white;
        color: #000;
        font-weight: bold;
    }
    div#datos{
        width: 40%;
    }
}

